body{
	background: url('nature.jpg') no-repeat;
	background-size:cover;
	font-family: Arial;
	color: white;
}
.menu-bar ul{
	margin: 0px;
	margin-left: 161px;
	padding: 0px;
	list-style: none;
}
.menu-bar1 ul{
	margin: 0px;
	margin-left: 60px;
	padding: 0px;
	list-style: none;
}
.menu-bar ul li{
	float: left;
	width: 225px;
	height: 40px;
	background-color: black;
	opacity: .8;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	border:1px solid white;
}
.menu-bar ul li a{
	text-decoration: none;
	color: white;
	display:block;
}
.menu-bar ul li a:hover{
	background-color: #0E184A;
}
.menu-bar ul li ul li{
	display: none;
}
.menu-bar ul li:hover ul li{
	display: block;
}
/**************************************************************************/

/************************** For Login & Sign Up **************************************/
.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 575px;
  height: 425px;
  border-radius: 3px;
  background: linear-gradient(45deg, rgba(69, 104, 220, 0.6) 0%, rgba(176, 106, 179, 0.9) 100%), url("https://images.pexels.com/photos/889084/pexels-photo-889084.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center center;
  background-size: cover;
  overflow: hidden;
  -webkit-box-shadow: 0px 53px 37px -39px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 53px 37px -39px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 53px 37px -39px rgba(0, 0, 0, 0.7);
}
.wrapper .enter {
  position: absolute;
  left: 43%;
  transition: left .3s;
}
.wrapper .enter a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 10px;
  transition: letter-spacing .3s;
}
.wrapper .enter:hover {
  left: 44.9%;
  transition: left .3s;
}
.wrapper .enter:hover a:hover {
  letter-spacing: 4px;
  transition: letter-spacing .3s;
}
.wrapper .active_enter {
  color: #ffffff;
  background: #ffffff;
  height: 4px;
  left: 0 !important;
  overflow: hidden;
  letter-spacing: 10px;
  transition: left .3s, height .3s ,letter-spacing .3s, background .3s;
}
.wrapper .active_enter a {
  color: #ffffff;
  letter-spacing: 4px;
  transition: color .3s, letter-spacing .3s;
}
.wrapper .container_form {
  position: absolute;
  right: 0;
  background: #ffffff;
  background-size: auto;
  padding: 25px 0 25px 0;
  width: 0px;
  height: 425px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
  transition: width .3s, padding .3s;
}
.wrapper .container_form .close {
  position: relative;
  left: 95px;
}
.wrapper .container_form .close a {
  color: #292929;
}
.wrapper .container_form .info {
  display: flex;
  padding: 0;
  list-style-type: none;
}
.wrapper .container_form .info li {
  color: #252525;
  font-size: 18px;
  margin-right: 15px;
  padding-bottom: 10px;
  transition: border-bottom .1s;
  border-bottom: 0 solid #4568dc;
}
.wrapper .container_form .info li a {
  color: #252525;
  text-decoration: none;
  transition: color .3s;
}
.wrapper .container_form .info li a:hover {
  color: #252525;
  transition: color .3s;
}
.wrapper .container_form .info li:hover {
  padding-bottom: 10px;
  border-bottom: 4px solid #4568dc;
  transition: border-bottom .1s;
}
.wrapper .container_form .info li:hover a {
  color: #4568dc;
}
.wrapper .container_form .info .active_link {
  padding-bottom: 10px;
  border-bottom: 4px solid #b06ab3;
}
.wrapper .container_form .info .active_link a {
  color: #b06ab3;
}
.wrapper .active_container {
  width: 50%;
  padding: 25px;
  transition: width .3s, padding .3s;
}

/**********************************************************/
.inputBox{
  margin-top: -280px; 
}
.inputBox{
  margin-top: -280px; 
}
.username{
  height: 30px;
  font-size: 15px;
  border-radius: 2px;
}
.sendButton {
  padding: 6px 40px;
  text-align: center;
  border-radius: 50px;
  font-size: 18px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  font-family: serif;
  background-color: #534389;
  color: white;
}
.sendButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.regi{
  height: 30px;
  font-size: 15px;
  border-radius: 2px;
}
.fname{height: 30px;  font-size: 15px;  border-radius: 2px; width: 82%;}
.submitButton {
  padding: 6px 40px;
  text-align: center;
  border-radius: 10px;
  font-size: 18px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  font-family: serif;
  background-color: #534389;
  color: white;
  margin-top: 290px;
  margin-left: 25px;
}
.submitButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
/************************* For Login & Sign Up ***************************************/

/****************************** For Audio ***************************************/
<style>
    .timelineBlock{-webkit-appearance: none; align-items: flex-start; background-attachment: scroll; background-clip: border-box;background-color: #696969;background-origin: padding-box; background-size: auto; border-bottom-color: black;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;border-bottom-style: solid; border-bottom-width: 1px; border-image-outset: 0px; border-image-repeat: stretch;border-image-slice: none;border-image-width: 1;border-left-color: black; border-left-style: solid; border-left-width: 1px;border-right-color: black;border-right-style: solid;border-right-width: 1px; border-top-color: black;border-top-left-radius: 5px;border-top-right-radius: 5px;border-top-style: solid;border-top-width: 1px;box-shadow: #80B2FF 0px 1px 1px 0px inset;box-sizing: border-box;color: rgb(255, 255, 255);cursor: pointer;direction: ltr; display: inline-block;font-family: 'Arial','Helvetica Neue','Segoe UI','Malgun Gothic',Meiryo,'Microsoft JhengHei',helvetica,arial,sans-serif;font-size: 18px;font-stretch: normal;font-style: normal;font-variant: normal;font-weight: bold;letter-spacing: 1px;line-height: 15.12px;margin-bottom: 10px; margin-left: 600px;margin-right: 0px;margin-top: -230px;min-width: 194px;padding-bottom: 7px;padding-left: 20px;padding-right: 20px;padding-top: 7px;position: relative;text-indent: 0px;text-rendering: optimizeLegibility;text-shadow: rgba(0,0,0,0.498039);text-transform: none;width: 650px;word-spacing: 0px;writing-mode: lr-tb;-webkit-writing-mode: horizontal-tb;zoom:1;position: absolute;}
</style>
/****************************** For Audio ***************************************/

/****************************** CSS File for Tab Complaint Form *****************/ 
<style type="text/css">
body {font-family: Arial;}
/* Style the tab */
.main1 .main2 .ComplaintTab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #333;
}
/* Style the buttons inside the tab */
.main1 .main2 .ComplaintTab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
/* Change background color of buttons on hover */
.main1 .main2 .ComplaintTab button:hover { background-color: #111; }
/* Create an active/current tablink class */
.main1 .main2 .ComplaintTab button.active {background-color: #111; }
/* Style the tab content */
.main1 .main2 .tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
</style>

/************************* CSS-File For Tab Complaint Form ***********************/